/* dashboard */
.tile-header {
    cursor: default;
}
.tile-group {
    vertical-align: top;
    margin-right: 40px;
}
.tile .check-image {
    position: absolute;
    top: 0px;
    right: 0px;
    background-image: url(../tileosaur/images/check-image.png);
    width: 150px;
    height: 150px;
    visibility: hidden;
}
.tile[checked="checked"] .check-image {
    visibility: visible;
}

/* misc */
.text-centered {
    text-align: center;
}
* {
    border: none;
}


/* network-scan */
.btn-start-scan {
    width: 280px;
    margin: 5px;
}
input[type="text"].btn-start-scan {
    width: 265px;
}
.loading-image {
    display: none;
    margin: 10px;
}


/* all-pcs */
.btn-add-pc {
    width: 200px;
    margin-top: 10px;
}
input[type="text"].add-pc {
    width: 185px;
    margin-bottom: 5px;
}
.mode-select {
    font-size: 12pt;
}
.pc-config {
    position: absolute;
    left: 160px;
    top: 0px;
    float: left;
    background-color: rgba(0, 0, 0, 0.2);
    width: 150px;
    height: 150px;
    padding: 0px;
    cursor: default;
    z-index: 200;
}
.pc-config ul {
    list-style: none;
    margin: 10px;
    padding: 0px;
    font-size: 11pt;
}
.pc-config ul li {
    padding: 6px;
    margin: 0px;
}
.pc-config ul li a {
    color: #fff;
    padding: 10px;
}


/* pc-groups */
.sub-header a {
    color: inherit;
    text-decoration: none;
}
.sub-header .btn {
    color: #fff;
    font-size: 11pt;
    vertical-align: middle;
}
.back-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
    border-radius: 30px;
}
.plus-icon {
    background-image: url(../images/button-img/plus.png) !important;
}
.trash-icon {
    background-image: url(../images/button-img/trash.png) !important;
}
.trash-icon-center {
    margin: 50px;
}

/* tasks */
.select {
    padding: 5px;
    background-color: #222;
    color: #fff;
    border: 1px solid #333;
    font-size: 11pt;
    
    outline: none;
}
.select-wide {
    display: inline-block;
    width: 200px;
}

/* shell */
.no-border {
    border-width: 0px;
}
.cwd {
    display: inline-block;
    height: 20px;
}
.cmd {
    width: 500px;
    margin-top: 0px;
    height: 20px;
}
.inline {
    display: inline-block;
}

/* server */
.sub-header .loading-icon {
    vertical-align: middle;
    display: inline-block;
    width: 40px;
    height: 40px;
}
.pie-chart {
    max-width: 400px;
    max-height: 400px;
    border-radius: 400px;
    background-color: #333;
}
@media all and (max-width: 1370px) {
    .pie-chart {
        max-width: 300px;
        max-height: 300px;
    }
}
.network {
    height: 300px;
    padding: 30px;
    overflow-y: scroll;
}